.btn-primary{
    background-color: #442980;
    border-radius: 04px;
    border-color: #442980
}
.btn-outline-default{
    background-color:#bd158b;
    color: white;
}
.btn-outline-default:hover{
    background-color:  white;
    color: #bd158b;
}


.cadastro{
    font-size: 150px;
    color: #442980;
}