<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <img src="../../assets/img/brand/logoNova.png" alt="" srcset="">
                <!-- <img src="https://i.ibb.co/kXYt1qG/Pagina2.jpg" alt="" srcset=""> -->
                <!-- <i class="fas fa-user-circle cadastro text-center"></i> -->
                <br>
                <br>
                <h5>Junte-se a comunidade</h5>
                <p class="text-justify-center">O Polímians é uma rede para toda a comunidade</p>
              </div>
              
              <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" 
                    placeholder="Insira seu email" 
                    type="email" 
                    (focus)="focus=true"
                    (blur)="focus=false"
                    [(ngModel)]="usuario.email"
                    #email="ngModel"
                    [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" 
                    placeholder="Insira sua senha" 
                    type="password" (focus)="focus1=true" 
                    (blur)="focus1=false"
                    [(ngModel)]="usuario.senha"
                    #senha="ngModel"
                    [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class=" pt-4 custom-control custom-control-alternative custom-checkbox ">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span>Lembrar sessão</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Entrar</button>
                </div>
                <a href="javascript:void(0)" class="alert-link text-center"><p class="nav-link-inner--text">Esqueçeu a senha?</p></a>
              </form>
          
              <hr>
              <h6 class= "text-center grey--text">Ou, se ainda não tem cadastro </h6>
              <br>
              <div class= "text-center">
                <button type="button" class="btn btn-outline-default my--5" [routerLink] = "['/cadastro']">Criar nova conta</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
