<main class="profile-page">
    <section class="section-profile-cover bgExplore section-shaped my-0">
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow blur--hover pt-5">
                <div class="row ">
                    <div class="col-12 pl-5">
                        <br>
                        <br>
                        <h3 class="text-center">{{espetaculo.titulo}} <br>
                            <small class="text-muted">Espetáculo</small>
                        </h3>
                        
                        <br>
                        <div class="h6 pt-2 left">
                            <i class="fas fa-map-marker-alt mr-4"></i><b>Local do Espetáculo: </b>{{espetaculo.endereco.cidade}}
                        </div>

                        <div class="h6 pt-2">
                            <i class="fa fa-bank mr-4"></i><b>Categoria: </b> <span class="badge badge-pill badge-warning mr-1" ngbTooltip="Este é a categoria deste espetáculo">{{espetaculo.categoria}}</span>
                        </div>
                        <div class="h6 pt-2">
                                <i class="fas fa-ticket-alt mr-4" ></i> <b>Ingressos disponíveis: </b>{{espetaculo.qtdParticipantes}}

                        </div>

                        <div class="h6 pt2">
                            <i class="fas fa-calendar-alt mr-4"></i><b>Data: </b>{{espetaculo.datas}}
                        </div>
                       
                    </div>

                </div>
                <hr>
                <div class="text-center justify-content-center">
                    <h4 >Detalhes do espetáculo</h4>
                    <div class="text-justify mt-5 py-5 pl-4 pr-4">
                        <p class="text-center text-justify">{{espetaculo.descricao}}</p>
                        <div class="row justify-content-center text-center"> 
                            <div class="col-lg-10 col-md-10 col-10 mb-lg-auto">
                            <h6 class="pt-3 text-left ma-2">Galeria de espetáculo</h6>
                                <div class="rounded shadow-lg overflow-hidden justify-content-center text-center">
                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <img class="img-fluid" src="http://blogs.diariodonordeste.com.br/sertaocentral/wp-content/uploads/2018/10/Cia-de-Dança-Rastro-Marina-Cavalcante-5-1024x557.jpg " alt="First slide">
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img class="img-fluid" src="http://blogs.diariodonordeste.com.br/sertaocentral/wp-content/uploads/2018/10/Cia-de-Dança-Rastro-Marina-Cavalcante-5-1024x557.jpg " alt="Second slide">
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img class="img-fluid" src="http://blogs.diariodonordeste.com.br/sertaocentral/wp-content/uploads/2018/10/Cia-de-Dança-Rastro-Marina-Cavalcante-5-1024x557.jpg " alt="Second slide">
                                        </ng-template>
                                       
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <br> 
                </div>
                <app-comment-section></app-comment-section>
                <br>
                <br>
            </div>
        </div>
    </section>
</main>