<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section bg text-white home section-lg section-shaped pb-250">
      <div class="shape shape-style-1 bg-white shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex pb-5">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Divulgue o seu trabalho
                <span>Portfólio cultural online</span>
              </h1>
              <p class="lead  text-white">Aqui você terá registro de todos os seus trabalhos, além de se conectar com possíveis clientes e público em geral.</p>
               <!-- Botão quero saber mais -->
              <div class="justify-content-center">
               <button class= "btn img-fluid floating bntExplore" data-placement="right" ngbTooltip = "Clique e descubra o melhor que temos a oferecer" [routerLink]="['/explore']">
                  <i class="fas fa-search mr-2 " ></i>Começe a explorar
               </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separador svg -->
      <div class="separator separator-bottom separator-skew">
        <svg class="editorial"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 24 150 28 "  preserveAspectRatio="none"> 
          <defs> <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18  58-18 88-18  58 18 88 18 v44h-352z" /> </defs>
          <g class="parallax1">
            <use xlink:href="#gentle-wave" x="50" y="3" fill="#442980"/>
          </g>
          <g class="parallax2">
            <use xlink:href="#gentle-wave" x="50" y="0" fill="#bd158d"/>
          </g>
          <g class="parallax3">
            <use xlink:href="#gentle-wave" x="50" y="9" fill="#ff7723"/>
          </g>
          <g class="parallax4">
            <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff"/>  
          </g>
        </svg>
      </div>
    </section>
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5 text-justify">
                  <div class="icon icon-shape icon-shape-primary align-content-center rounded-circle mb-4">
                    <i class="ni ni-collection"></i>
                  </div>
                  <h6 class=" text-uppercase mtPortifolio">Monte seu portifólio</h6>
                  <p class="deion mt-3 ">Com o Polimians você poderá montar seu portfólio adicionando fotos, vídeos, descrições e até mesmo, divulgar seus workshops.</p>
                  <div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5 text-justify">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-calendar-grid-58"></i>
                  </div>
                  <h6 class="mtAgenda text-uppercase">Divulgue sua agenda</h6>
                  <p class="deion mt-3">Divulgue a agenda de eventos de sua compainha. Você terá uma seção exluisva para visualização de espetáculos agendados.</p>
                  <div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5 text-justify">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-chat-round"></i>
                  </div>
                  <h6 class="mtWorkShops text-uppercase">Divulgue seus workshops</h6>
                  <p class="deion mt-3">Facilite a divulgação de workshops ofertados por você, Companhia. Facilite a inscrição e tenha mais comidade e benefício.  </p>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg ">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2 text-center">
          <img src="http://blogs.diariodonordeste.com.br/sertaocentral/wp-content/uploads/2018/10/Cia-de-Dança-Rastro-Marina-Cavalcante-5-1024x557.jpg" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1 beneficios">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-primary  shadow rounded-circle mb-2 text-center">
              <i class="ni ni-circle-08"></i>
            </div>
            <h3 class="pb-4">Quem somos?</h3>
            <br>
            <p  class="text-justify">Somos uma plataforma de divulgação de companhias de teatro e dança que surgiu com o propósito de incentivar e fortalecer manifestações artísticas no Brasil. </p>
            <p  class="text-justify">Ficou mais fácil conhecer o trabalho das companhias, contatá-las, consultar sua agenda de espetáculos e participar de workshops. Além de entrar em contato com a companhia desejada, por meio do chat disponível na plataforma. </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-collection"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Crie seu portfólio</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-calendar-grid-58"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Divulgue sua agenda</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-chat-round"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Divulgue workshops ofertados por você</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="https://www.ceara.gov.br/wp-content/uploads/2018/11/Cia.-de-Dança-Rastro-_Por-Marina_Cavalcante_.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Terra de histórias para contar</h4>
              <p class="lead text-italic text-white">O Ceará Show é um espetáculo musical que conta a história deste estado cheio de encantos. 
                Você vai rir, se emocionar, cantar e se sentir um conterrâneo da Terra da Luz.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-notification-70"></i>
            </div>
            <h3>Objetivo do projeto</h3>
            <p class="lead">Nosso objetivo é criar um produto simples, intuitivo e acessível. </p>
            <p>É por isso que estamos constantemente trabalhando em nossos serviços para melhorar todos os dias e queremos ouvir o que nossos usuários têm a dizer.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-6">
          <h2 class="display-3">Nosso Time</h2>
          <p class="lead text-muted">O time que faz o <b>Polimians</b> acontecer.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-2 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/time/elida.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Elida Correia</span>
                <small class="h6  justify-text text-muted">CEO, UI e UX, Gerente de projetos e Product Owner </small>
                
              </h5>
              <div class="mt-3">
                <a href="">
                  <i class="fa fa-facebook mr-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/time/lucas.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1 text-center">Lucas Silva</span>
                <small class="h6 text-muted text-center">CEO, UI/UX , Desenvolvedor Full Stack</small>
              </h5>
              <div class="mt-3">
                <a href="">
                  <i class="fa fa-facebook mr-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/time/wytalo.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Wytalo de Lima</span>
                <small class="h6 text-muted">CEO, UX/UI e Analista de Qualidade de Software </small>
              </h5>
              <div class="mt-3">
                <a href="">
                  <i class="fa fa-facebook mr-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/time/karla.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Karla Alves</span>
                <small class="h6 text-muted">CEO, UI e Projetista </small>
              </h5>
              <div class="mt-3">
                <a href="">
                  <i class="fa fa-facebook mr-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center justify-content-center col-lg-2 mb-5 mb-lg-0  mt-1">
          <div class="px-4">
            <img src="./assets/img/time/marcelo.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Marcelo Gonçalves</span>
                <small class="h6 text-muted">CEO, Desenvolvedor e Engenheiro de Requesitos</small>
              </h5>
              <div class="mt-3">
                <a href="">
                  <i class="fa fa-facebook mr-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-purple shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">E você, tá esperando o que para se cadastrar?</h3>
              <p class="lead text-white mt-3">Aqui você conta com diversos benefícios e um portifólio totalmente robusto para suas necessidades diárias.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a [routerLink]="['/cadastro']" class="btn btn-lg btn-block btn-white">Cadastrar-me agora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   
</main>
