.btn-primary{
    background-color: rgb(189, 21, 141);
    border-radius: 04px;
    border-color: rgb(189, 21, 141);
}
#logoPoli{
    height: 150px;
}
#cardCad{
    background-color: rgb(253, 252, 252);
}
.cadastro{
    font-size: 150px;
    color: #442980;
}

#cadastro02{
    color: #442980
}