<!-- NavBar (Será modificada com o NG IF) -->
<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned navegador">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/landing']">
            <img src="./assets/img/brand/logoPoli.png">
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/brand/logoPoli.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item ">
                    <a class="nav-link no-caret" role="button">
                        <i class="fas fa-search d-lg-none"></i>
                        <span class="nav-link-inner--text explore text-primary-lg-none" [routerLink]="['/explore']" ngbTooltip="Clique para descobrir novos trabalhos">  <i class="fas fa-search"></i>Explorar</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <i class="ni ni-ui-04 d-lg-none"></i>
                        <span class="nav-link-inner--text " [routerLink]="['/landing']"><i class="fas fa-user-friends"></i>Sobre</span>
                    </a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <i class="ni ni-collection d-lg-none"></i>
                        <span class="nav-link-inner--text"><i class="far fa-handshake"></i>Ajuda</span>
                    </a>
                    <div class="dropdown-menu">
                        <a *ngIf="this.usuario.companhiaId != null" [routerLink]="['perfil-companhia']" class="dropdown-item">Perfil</a>
                        <a *ngIf="this.usuario.espectadorId != null" [routerLink]="['perfil-usuario']" class="dropdown-item">Perfil</a>
                        <a *ngIf="logado" (click)="sair()" class="dropdown-item">Sair</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto white-text menuColapse">
                <li *ngIf="logado" class="nav-item  dropdown">
                    <a *ngIf="this.usuario.espectadorId != null" [routerLink]="['perfil-usuario']" class="nav-link no-caret" data-toggle="dropdown" role="button">
                        <div class="dropdown-menu-xl dropdown-menu">
                            <div class="dropdown-menu-inner">
                                <a routerLinkActive="active" [routerLink]="['/sobre']" class="media d-flex align-items-center">
                                    <div class="icon icon-shape bg-gradient-purple rounded-circle text-white">
                                        <i class="fas fa-user-friends"></i>
                                    </div>
                                    <div class="media-body ml-3">
                                        <h6 class="heading text-primary mb-md-1">Sobre o Polimians</h6>
                                        <p class="deion d-none d-md-inline-block mb-0"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <span class="nav-link-inner--text text-black mr-3">
                             <i class="fas fa-user-circle cadastro text-center"></i>
                            {{usuario.nome}}
                        </span>
                        <button class="btn btn-primary" (click)="sair()">Sair</button>
                        <div class="dropdown-menu">
                            <a [routerLink]="['/perfil-usuario']" class="dropdown-item">Perfil</a>
                            <a *ngIf="logado" (click)="sair()" class="dropdown-item">Sair</a>
                        </div>
                    </a>
                    <a *ngIf="this.usuario.companhiaId != null" [routerLink]="['perfil-companhia']">
                        <span class="nav-link-inner--text mr-3">
                            <i class="fas fa-user-circle cadastro text-center"></i>
                            {{usuario.nome}}
                        </span>
                        <button class="btn btn-primary" (click)="sair()">Sair</button>
                    </a>
                </li>
                <li [hidden]="logado" class="nav-item ">
                    <a [routerLink]="['/entrar']">
                        <span class="nav-link-inner--text">Entrar</span>
                    </a>
                </li>
                <li [hidden]="logado" class="nav-item d-none d-lg-block ml-lg-4 btnCadastro">
                    <a [hidden]="logado" [routerLink]="['/cadastro']" class="btn btn-primary btn-icon">
                        <span class="btn-inner--icon">
              <i class="fa fa-user-plus mr-2"></i>
            </span>
                        <span class="nav-link-inner--text">Cadastre-se</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>