
<!-- Alterna componentes para ser visualizado em algumas partes do site  -->
<!-- [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}" -->
<!--  *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'" -->
<footer class="footer bgFooter" >
  <!-- <div class="container container-lg">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/landing']" title="Landing Page">
            <img src="./assets/img/theme/landing.jpg" class="card-img">
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/user-profile']" title="Profile Page">
            <img src="./assets/img/theme/profile.jpg" class="card-img">
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <!-- <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
          <i class="fa fa-dribbble"></i>
        </a>
        <a target="_blank" href="https://github.com/creativetimofficial" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div> -->
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
          <a class="navbar-brand mr-lg-5" [routerLink]="['/landing']">
            <img src="./assets/img/brand/logoPoli.png">
          </a>
        <div class="copyright pt-4">        
            &copy; {{test | date: 'yyyy'}}
         <span>Polímians Software - 2020</span>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end  text-white pt-4">
          <li class="nav-item">
            <a href="https://www.quixada.ufc.br" class="nav-link text-white" target="_blank">UFC Campus Quixadá</a>
          </li>
          <li class="nav-item text-white">
            <a href="http://dd.quixada.ufc.br/" class="nav-link text-white" target="_blank">Sobre o curso de Design Digital</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
