<main class="profile-page">
    <section class="section-profile-cover section-md bgExplore section-shaped pb-300 ">
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow blur--hover pt-5">
                <div class="row ">
                    <div class="col-12 ">
                        <br>
                        <div class="text-justify">
                            <h3 class="text-center pt-2">{{workshop.titulo}} <br>
                                <small class="text-muted">Workshop</small>
                            </h3>
                        </div>
                        
                        <br>
                        <div class="pl-5">
                            <div class="h6 pt-2 left">
                                <i class="fas fa-map-marker-alt mr-4"></i><b>Local do Workshop: </b>{{workshop.endereco.cidade}}
                            </div>

                            <div class="h6 pt-2">
                                <i class="fa fa-bank mr-4"></i><b>Categoria: </b> <span class="badge badge-pill badge-success mr-1" ngbTooltip="Este workshop faz parte da categoria ${`workshop.categoria`}" >{{workshop.categoria}}</span>
                            </div>
                            <div class="h6 pt-2">
                                <i class="fas fa-users mr-4"></i><b>Quantidade de participantes: </b>{{workshop.qtdParticipantes}}

                            </div>

                            <div class="h6 pt2">
                                <i class="fas fa-calendar-alt mr-4"></i><b>Data:  </b>{{workshop.datas}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mt-4 py-5 pl-4 pr-4  text-center">
                    <h4>Descrição do workshop:</h4>
                    <div class="text-justify pt-4 pr-5">
                        <p class="text-justify">{{workshop.descricao}}</p>
                    </div>
                </div>
                <div class="row justify-content-center text-center"> 
                    <div class="col-lg-10 col-md-10 col-10 mb-lg-auto">
                    <h6 class="pt-3 text-left ma-2">Galeria de fotos do workshop</h6>
                        <div class="rounded shadow-lg overflow-hidden justify-content-center text-center">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img class="img-fluid" src="./assets/img/workshops/work.PNG" alt="First slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="img-fluid" src="./assets/img/workshops/work.PNG" alt="Second slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="img-fluid" src="./assets/img/workshops/work.PNG" alt="Second slide">
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-12 pt-5 pb-5 text-center">
                        <button (click)="realizarInscricao()" class="btn btn-primary" [routerLink] = "['/workshop-inscrito']">Realizar Inscrição</button>
                    </div>
                </div>
                <br>
                <app-comment-section></app-comment-section>
            </div>
        </div>
    </section>
</main>